<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en"><!-- //NOSONAR -->
<th:block th:replace="fragments/general.html::headerfiles('Create Employee')"></th:block>
<body>
<header>CREATE</header>
<script>
    function addDataToTable(dataEmployee) {
        let dataHtml = `<tr>
                <th>id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Salary</th>
            </tr>`;
        dataHtml += dataEmployee.map((employee) => {
            return `<tr>
                        <td>${employee.employee_id}</td>
                        <td>${employee.first_name}</td>
                        <td>${employee.last_name}</td>
                        <td>${employee.role}</td>
                        <td>${employee.salary}</td>
                    </tr>`
        }).join("");
        console.log("dataHtml", dataHtml);
        const table = document.querySelector("#employees");
        table.innerHTML = dataHtml;
    }

    async function getFromApi() {
        const response = await fetch('/retrieve/employees');
        const data = await response.json();
        console.log("data", data);
        addDataToTable(data);
    }

    async function postToApi(event) {
        event.preventDefault();
        const employee_id = document.querySelector("#employee_id").value;
        const first_name = document.querySelector("#first_name").value;
        const last_name = document.querySelector("#last_name").value;
        const role= document.querySelector("#role").value;
        const salary = document.querySelector("#salary").value;
        const response = await fetch('/retrieve/employees', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({employee_id: employee_id, first_name: first_name, last_name: last_name, role: role, salary: salary}),
        });
        const data = await response.json();
        console.log("data", data);
        addDataToTable(data);
    }
</script>
<main>
    <br>
    <div class="container">
        <button onclick="getFromApi()" type="button" class="btn btn-primary">Show all configurations from one API</button>
        <br><br>
        <table id="employees" class="table">
        </table>
    </div>
    <br><br><br>
    <div class="container">
        <h2>Create a new employee</h2>
        <form onsubmit="postToApi(event)">
            <div class="form-group">
                <label for="employee_id">Id</label>
                <input type="text" class="form-control" id="employee_id">
            </div>
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name">
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <input type="text" class="form-control" id="role">
            </div>
            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="text" class="form-control" id="salary">
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="Save employee">
        </form>
    </div>
</main>
</body>
</html>