<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en"><!-- //NOSONAR -->
<th:block th:replace="fragments/general.html::headerfiles('Delete employee')"></th:block>
<body>
<main>
    <h2 class="display-6 text-center mb-4">Delete Employee</h2>
    <div class="table-responsive">
        <table>
            <thead>
            <tr>
                <th>EMPLOYEE ID</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>ROLE</th>
                <th>SALARY</th>
                <th>ACTIONS</th>
            </tr>
            </thead>
            <tbody>
            <!-- Loop through employees -->
            <tr>
                <td th:text="${employee.employee_id}"></td>
                <td th:text="${employee.first_name}"></td>
                <td th:text="${employee.last_name}"></td>
                <td th:text="${employee.role}"></td>
                <td th:text="${employee.salary}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer th:replace="fragments/general::empty-footer"></footer>
</body>
</html>